html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
    text-decoration: none;
}

.App {
  text-align: center;
}

.header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.title {
  font-size: 1.5em;
}

.subtitle {
    font-size: .5em;
}
